#wrap,
#container,
#content,
#footer {
    width: 100%;
}
/* 공통 */
.inner {
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
#header {
    width: 1740px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#header.on {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#header .inner {
    height: 90px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header h1 {
    position: absolute;
    left: 0;
    top: 50%;
    /* inner 사이즈 안바뀐다는 전제하에 top 50% */
    transform: translateY(-50%);
}
#header .inner .nav .util {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 25px;
    align-items: center;
}
#header .util ul {
    display: flex;
    gap: 25px;
}
#header .util ul li a {
    font-size: 13px;
}
#header .util ul li:first-child a {
    font-size: 13px;
    font-weight: 500;
}

#header .util p {
    font-size: 32px;
}
#header .nav {
}
#header .nav .gnb {
    display: flex;
    margin-left: 100px;
}
#header .nav .gnb > li {
}
#header .nav .gnb > li > a {
    display: block;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: conter;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
#header .nav .gnb > li ul {
    display: none;
}

#footer {
    background: #131313;
}
#footer .inner {
    width: 1160px;
    padding: 50px 0;
    color: #fff;
}
#footer .inner p {
    font-size: 13px;
    margin-bottom: 5px;
}

.top {
    position: fixed;
    right: 10%;
    bottom: 30px;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: 50;
    opacity: 0.6;
    display: none;
}
.sitemap {
    position: fixed;
    width: 960px;
    height: 530px;
    background: #fff;
    left: 50%;
    top: 50%;
    z-index: 80;
    transform: translate(-50%);
    border-top: 2px solid #07255d;
}

.sitemap .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.sitemap .close i {
    color: #07255d;
    font-size: 25px;
}
.sitemap .site-gnb li a {
    font-size: 18px;
    color: #07255d;
    border-bottom: 1px solid #07255d;
}
.sitemap .site-gnb ul li a {
    font-size: 14px;
    color: #07255d;
}
